name: Mod Tidier

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  mod_tidier:
    runs-on: ubuntu-latest
    name: Clean up mismatched go.sum files
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
    - uses: actions/setup-go@v2
      with:
        go-version: 1.18
    - uses: evantorrie/mott-the-tidier@v1-beta
      with:
        gomods: |
          **/go.mod
          -tools/go.mod
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Auto-fix go.sum discrepancies
